.header {
  background-color: #212121;
  color: #fafafa;
  padding: 60px 40px;
  margin-bottom: 20px;
}

.h1 {
  margin-bottom: 25px;
  font-size: 3rem;
}

.row {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}

.grid-container {
  padding: 20px 0px;
  margin: 0px 40px;
  display: grid;
  grid-template-columns: 85% 10% 5%;
}

.grid-item-time {
  text-align: right;
}

.row:hover {
  background-color: #fafafa
}

.title, .time {
  color: #333;
  font-size: 13pt;
}

.author {
  color: #999;
}

.delete {
  text-align: center;
}

.trash-icon {
  width: 15px;
}
