<div class="header">
  <h1 class="h1">HN Feed</h1>
  <h3 class="h3">We &lt;3 hacker news!</h3>
</div>

<div *ngFor="let newsItem of news; index as i">
  <div class="row grid-container"
  *ngIf="newsItem.story_title != null || newsItem.title != null"
  (click)="openNewsItem(newsItem.url == null ? newsItem.story_url : newsItem.url)">
    <div>
      <span class="title">
        {{ newsItem.story_title == null ? newsItem.title : newsItem.story_title }}
      </span>
      <span class="author"> - {{ newsItem.author }} -</span>
    </div>
    <div class="grid-item-time">
      <span class="time">
        {{ newsItem.created_at | dateAgo }}
      </span>
    </div>
    <div class="delete">
      <span (click)="delete(newsItem._id, i)">
        <img class="trash-icon" src="/assets/img/trash-alt-solid.svg" alt="trash"/>
      </span>
    </div>
  </div>
</div>
